<% content_for :subtitle do %>
	Achievements
<%end%>

<% content_for :include_css do %>
	<% stylesheet_link_tag "new_style/achievements-kreyos" %>
<% end %>

<style>
	.badge-container { height: 240px!important; }
</style>

<div id="content-wrapper">
    <h1>your achievements</h1>
</div><!-- end content-wrapper -->

<div id="badges-container" style="margin-bottom: 100px; margin-top: -20px;">
	<% @badges.sort! {|a,b| a['name'] <=> b['name']}.each do |badge| %>
		<div class="badge-container">
	        <!-- <div class="thumbs-up" style="background: url(<%=badge['image']%>) no-repeat;"></div> -->
	        <!-- <img src="<%= badge['image']%>" style="position: absolute; top: -35px; left: 47px; width: 140px;" /> -->
	        <img src="<%= badge['image']%>" style="position: absolute; top: 15px; left: 70px;" />
	        <h3><%= badge['name'] %></h3>
	        <div style="padding: 10px"><p><%= badge['hint']%>.</p></div>
	        <!-- <div class="date">
	            <strong>earned on</strong><br>
	            july 21, 2013
	        </div> -->
	    </div><!-- end badge -->
	<% end %>


    <div class="clear"></div>
</div><!-- end container -->